html, body {
	position: relative;
	height: 100%;
}
body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	padding: 0;
	width: 100%;
	margin: 0 auto;
    align-items: center;
}

.title-area{
    width: 100%;
    height: 60px;
}

#title{
    position: fixed;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
/*     left: 32%; */
    margin: 0 auto;
    background: rgba(141, 143, 144, 0.13);
    transition: .5s;
    
}

#update{
    position: fixed;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    left: 64%;
    margin: 0;
    padding: 0 12.5%;
    color: rgb(114, 114, 114);
/*     background: rgba(141, 143, 144, 0.13); */
}

#bar nav .home-title h1{display: flex; justify-content: center; align-items: center;} 

.container{
    width: 100%;
    height: 500px;
}

#header{
    position: fixed;
    padding-top: 0px;
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    background: rgba(141, 143, 144, 0.13);
    transition: .5s;
}

#header nav{
    top: 0; left: 0;
    width: 100%; max-width: 100%;
    margin: 0 auto;
}


#header nav .option{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0 0px; 
    margin: 15px 0px;
}
#header nav .option li{
    display: inline-block; 
    line-height: 30px; 
    padding: 0px 50px; 
    margin: 20px 0px 20px 0px;
}
/* */
#header nav .init-area{
    text-align: center; 
    width: 70%; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 0 0px;
} 


#header nav ul{text-align: center; padding: 50px;}
#header nav ul li{list-style: none; }
#header nav li a{display: flex; justify-content: center; padding: 0 8px; line-height: 50%; text-decoration: none; color: rgba(169, 169, 169, 0.792);}

#header nav .input-area{
    display: flex; justify-content: center; width: 400px; height: 40px; margin: 10px; 
}

#header nav .init-area li.warning {
    color: red !important;
    animation: warning .3s ease;
    animation-iteration-count: 3;
}
@keyframes warning {
    0% {transform: translatex(-25px);}
    25% {transform: translatex(25px);}
    50% {transform: translatex(-25px);}
    75% {transform: translatex(25px);}
}

.fix-menu{
    top: 0; left: 0;
    width: 100%; max-width: 100%;
    margin: 0 auto;
}

.fix-menu ul{display: flex; justify-content: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;}
.fix-menu ul li{display: inline-block; font-size: 30x; line-height: 30px; padding: 0px 50px; margin: 50px 0px 0px 0px;}
.navbar_logo{display: flex; justify-content: center; align-items: center; }


#block1{
    position: fixed;
    width: 10%;
    height: 3px;
    box-sizing: border-box;
    background: rgba(169, 169, 169, 0.792);
    margin: 0px 0px 6px 0px;
}
#block2{
    position: fixed;
    width: 10%;
    height: 3px;
    box-sizing: border-box;
    background: rgba(169, 169, 169, 0.792);
    margin: 6px 0px 0px 0px;
}

#nav{
    position: fixed;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    background: gray;   
}


#name{
    font-size: 32px;
}

#year_msg, #monthday_msg, #time_msg{
    width: 75%;
    font-size: 32px;
}

input{
    width: 10%;
    border-radius: 20px;
    border: none;
    text-align: center;
}

button{
    font-size: 30px;
    padding: 0px 0px;
    border-radius: 25px;
    width: 350px;
    height: 50px;
    background-color: rgba(169, 169, 169, 0.792);
    border: none;
}

/* -------------------------- */

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
    
}
  
label.sexCheck {
    cursor: pointer;
    text-indent: -200px;
    width: 60px;
    height: 24px;
    background: #da55c6;
    display: block;
    border-radius: 50px;
    position: relative;
}
  
label.sexCheck:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 40px;
    transition: 0.15s;
}
  
input[type=checkbox]:checked + label {
    background: #558ada;
}
  
input[type=checkbox]:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}
  
label:active:after {
    width: 50px;
}

/* -------------------------- */

h1 {
    text-align: center;
    font-size: 35px;
    margin-top: 2px;
    margin-bottom: 2px;
}

h2{
    text-align: center;
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
}

h3{
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}


table.input_date{
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

table.source{
    align-content: center;
    align-self: center;
    align-items: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1%;
    table-layout: fixed;
}

table.mens{
    align-content: center;
    align-self: center;
    align-items: center;    
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1%;
    table-layout: fixed;
}

#time0, #time1, #time2, #day0, #day1, #day2, #month0, #month1, #month2, #year0, #year1, #year2{
    align-content: center;
    align-self: center;
    align-items: center;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    table-layout: fixed;
}

table.variety{
    align-content: center;
    align-self: center;
    align-items: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    table-layout: fixed;
}

.seasons tr ul{
    list-style: none;
    margin: auto;   
    padding: 0 0;
}

.seasons tr ul li{
    padding: auto;
}


table.tenyears{
    align-content: center;
    align-self: center;
    align-items: center;    
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    table-layout: fixed;
}

.jupiters tr ul{
    list-style: none;
    margin: auto;   
    padding: 0 0;
}

.jupiters tr ul li{
    padding: auto;
}


th{
    text-align: center;
    display: table-cell;
    font-size: 16px;
}

th#LIST0, #LIST1, #LIST2, #LIST3{
    font-size: 20px;
}


td{
    font-size: 8px;
    text-align: center;
    font-size: 20px;
}

td#time_sky, #day_sky, #month_sky, #year_sky, #time_land, #day_land, #month_land, #year_land{
    align-content: center;
    align-self: center;
    align-items: center;
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
    table-layout: fixed;
}

img{
    width: 60%;
}

canvas.tutorial{
    align-content: center;
    align-self: center;
    align-items: center;    
    width: 100%;

}

table.Telling{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    table-layout: fixed;
    
}

td.Title1{
    align-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    font-size:small; 
    font-weight: 900; 
    margin:0 auto;
}
 
td.Content1{
    text-align: left;
    margin:0 auto;
} 

.specify{
    position: relative;
    width: 100%;
    height: 80px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label.tab_label {
    position: absolute;  
    display: inline-block; 
    top: 0px; 
    left: 0px; 
    width: 33.3%;
    height: 80px;
    text-align: center;
}

input[type="radio"]#tab2 + label.tab_label {
    left: 33.3%;
    height: 80px;
}

input[type="radio"]#tab3 + label.tab_label {
    left: 66.6%;
    height: 80px;
}

.tab_content {
    position: relative;
    top: 80px;
    width: 100%;
    display: none;
}

input[type="radio"]:checked + label.tab_label {
    /* background-color: rgba(169, 169, 169, 0.792); */
    color: #da55c6;
}

input[type="radio"]:checked + label.tab_label + .tab_content {
    display: block;
    
}




