html, body {
	position: relative;
	height: 100%;
}
body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	/* margin: 0; */
	padding: 0;
	width: 100%;
	margin: 0 auto;
    align-items: center;
    height: 100vh;
}
ul{
    text-align: center;
    float: center;
    list-style: none;
    margin-top: 3px;
    margin-bottom: 3px;
    margin: 0 auto;
    
}
li{
    display: inline-block;  
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 35px;
    
}

h2{
    text-align: center;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
}

h3{
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}


table.input_date{
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}


table.source{
    align-content: center;
    align-self: center;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1%;
    table-layout: fixed;
}

table.mens{
    align-content: center;
    align-self: center;
    align-items: center;    
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1%;
    table-layout: fixed;
}
#ms{
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

#ms0{
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

#ms1{
    /* padding-left: 20%;
    padding-right: 20%; */
    /* padding-top: 2px;
    padding-bottom: 2px; */
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

#ms2{
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

#time0, #time1, #time2, #day0, #day1, #day2, #month0, #month1, #month2, #year0, #year1, #year2{
    /* padding-top: 2px;
    padding-bottom: 2px; */
    align-content: center;
    align-self: center;
    align-items: center;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    table-layout: fixed;
}

table.variety{
    align-content: center;
    align-self: center;
    align-items: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    table-layout: fixed;
}

table.tenyears{
    align-content: center;
    align-self: center;
    align-items: center;    
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    table-layout: fixed;
}

th{
    text-align: center;
    display: table-cell;
    font-size: 5px;
}


td{
    text-align: center;
    font-size: 15px;
    font-weight: 10px;
    display: table-cell;
}

img{
    width: 40%;
}

canvas.tutorial{
    align-content: center;
    align-self: center;
    align-items: center;    
    width: 100%;

}

#debug2, #debug3, #debug4{
    align-content: center;
    text-align: center;
    align-self: center;
    align-items: center; 
    /* margin-top: 10px;
    font-size: 8px; */
}